/* CSS Document */

.sidebar-lined-border-right {
    background-image: url(../img/border-line-sidebar-tall.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.sidebar-lined-border-left {
    background-image: url(../img/border-line-sidebar-tall.png);
    background-repeat: no-repeat;
    background-position: top left;
}

.sidebar-boxes-wrapper {
    width: 230px;
    margin-left: 25px;
}

.sidebar-boxes-spacer {
    height: 35px;
}

.sidebar-box-no-padding {
    padding: 0px;
}

.sidebar-box-1-padding {
    padding: 1px;
}


/* Add to cart box */

.sidebar-box.sidebar-box-styled-add {
    color: white;
    background-color: #076daf;
}

.sidebar-box.sidebar-box-styled-add .sidebar-box-styled-add-item-title {
    color: #fff;
    font-family: "Helvetica";
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    padding: 0
}

.sidebar-box.sidebar-box-styled-add .padding-element,
.sidebar-box-padding {
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 7px;
}

.sidebar-box.sidebar-box-styled-add .sidebar-box-styled-add-item-price-holder {
    text-align: center;
    background-image: url(../img/border_bottom_line_1.png);
    background-repeat: repeat-x;
    background-position: center bottom;
}

.sidebar-box.sidebar-box-styled-add .sidebar-box-styled-add-item-btns-holder {
    margin-top: 8px;
    text-align: center;
}

.sidebar-box.sidebar-box-styled-add .item-single-price {
    color: #fff;
    font-family: "Helvetica";
    font-size: 28px;
}

.sidebar-box.sidebar-box-styled-add .btn-add-to-cart {
    border: 1px solid #004797;
    background-color: #fff;
    color: #004797;
    font-family: "Helvetica";
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.sidebar-box-styled-add-item-title-holder {
    background-image: url(../img/cart_top_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45px;
    text-align: center;
    position: relative;
}

.sidebar-box-styled-ornament-relative {
    position: relative;
}

.sidebar-box-styled-add-item-title-holder-ornament {
    height: 7px;
    background-image: url(../img/arrow-small-poiting-top.png);
    background-repeat: no-repeat;
    background-position: center bottom;
}

.sidebar-box-styled-add-item-title-holder-ornament-right {
    width: 17px;
    height: 19px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-image: url(../img/arrow-small-poiting-top-right.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.sidebar-box.sidebar-box-styled-add .sidebar-box-styled-add-item-title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}


/* Collaterals box */

.sidebar-collaterals-menu {
    border-top: 1px solid #015198;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-nav-title-holder {
    width: 141px;
    height: 38px;
    line-height: 40px;
    background-color: #076daf;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.sidebar-collaterals-menu ul:first-child {
    border: 1px solid #e1e1e1;
}

.sidebar-collaterals-menu ul {
    list-style-position: inside;
    list-style: none;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-li {
    line-height: 35px;
    border-bottom: 1px solid #e1e1e1;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-li:last-child {
    border-bottom: none;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-li {
    padding-left: 10px;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-li a {
    color: #736e6e;
    font-size: 16px;
}

.sidebar-collaterals-menu .sidebar-collaterals-menu-li a:before {
    content: "<";
    font-family: Verdana, Verdana, Geneva, sans-serif;
    font-size: 12px;
    margin-right: 10px;
}
.sidebar-collaterals-menu-no-icon .sidebar-collaterals-menu-li a:before {
    content: ">";
 
}


.sidebar-collaterals-menu .sidebar-collaterals-menu-li a:hover {
    color: #076daf;
    text-decoration: none;
}


/* Download box */

.sidebar-box-download {
    color: white;
    background-color: #076daf;
}

.sidebar-box-download-title {
    color: #fff;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 15px;
}

.sidebar-box-download-sub-title {
    color: #fff;
    font-size: 15px;
    padding-bottom: 10px;
    margin-left: 15px;
}
.sidebar-box-download-sub-title a{
   color: #fff;
}


.sidebar-box-download-sub-box {
    color: #fff;
    font-size: 15px;
   
    margin-left: 15px;
}
.sidebar-box-download-sub-box a{
   color: #fff;
}


/* Top ornament of boxes */

.sidebar-box-styled-add,
.sidebar-collaterals-menu,
.sidebar-box-download {
    position: relative;
}

.sidebar-box-styled-add:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -30px;
    background-image: url(../img/site/box-ornament-4.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 60px;
    width: 60px;
    display: block;
}

.sidebar-collaterals-menu:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -30px;
    background-image: url(../img/site/box-ornament-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 60px;
    width: 60px;
    display: block;
}
.sidebar-collaterals-menu-no-icon:after {
     display: none;

}

.sidebar-box-download:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -30px;
    background-image: url(../img/site/box-ornament-2.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 60px;
    width: 60px;
    display: block;
}

.sidebar-box-presence:after {
    content: '';
    position: absolute;
    top: -4px;
    left: -30px;
    background-image: url(../img/site/box-ornament-3.png);
    background-repeat: no-repeat;
    background-position: top left;
    height: 60px;
    width: 60px;
    display: block;
}

.sidebar-box-download-title,
.sidebar-box-styled-add-item-title {
    position: relative;
    z-index: 1;
    padding-left: 20px !important;
}
 