.team-member-post-link-image {
    display: block;
    height: 270px;
    background-color: #efecec;
    position: relative;
    text-align: center;
    border: 1px solid #076daf;
    background-size: cover;
    background-position: center center;
}

.team-member-post-link-image-2 {
    display: block;
    background-color: #efecec;
    position: relative;
    text-align: center;
    width: 100%;
    height: 120px;
    border: 1px solid #076daf;
    background-color: #fff;
    background-size: cover;
    background-position: center center;
}

.team-member-post-link-title {
    display: table;
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    min-height: 65px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: rgba(0, 27, 61, 0.7);
    font-family: 'helvetica_narrow_ceregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: middle;
}

.team-member-post-link-title .team-member-post-link-title-content {
    display: table-cell;
    width: 100%;
    clear: both;
    padding-bottom: 10px;
    padding-top: 5px;
}

.team-member-post-link-title .team-member-post-link-title-content span {
    display: block;
}

.team-member-post-link-sub-title-position,
.team-member-post-link-sub-title-email {
    font-size: 14px;
}

.team-member-post-link-title .team-member-post-link-title-content span.team-member-post-link-sub-title-email {
    display: none;
}

.team-member-post-link-image-2 .team-member-post-link-title-content {
    font-size: 12px;
    display: none;
}

.team-member-post-link-image-2:hover .team-member-post-link-title-content {
    display: block;
}


/*//:hover*/

.team-member-post-link-image:hover .team-member-post-link-title {
    display: block;
    height: 100%;
    position: relative;
}

.team-member-post-link-image:hover .team-member-post-link-title .team-member-post-link-title-content {
    display: table;
    position: absolute;
    top: 40%;
}

.team-member-post-link-image:hover .team-member-post-link-title .team-member-post-link-title-content span.team-member-post-link-sub-title-email {
    display: block !important;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    display: block !important;
    position: relative;
    top: 60px;
    margin-left: 4px;
    margin-right: 4px;
}


/* end :hover */

.team-row-2 {
    margin-top: 15px;
}


/*

.team-card-holder-unitile .team-card-item {
    position: relative;
    float: left;
    width: 25%;
    border: 1px solid white;
    height: 375px;
    background-size: cover;
    background-position: center top;
}

.team-card-holder-unitile .team-card-item-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
    max-width: 200px;
    left: 0;
    max-height: 375px;
    padding: 12px;
}

.team-card-holder-unitile .tctitle {
    color: #ef3943;
    font-size: 15px;
    text-transform: uppercase;
}

.team-card-holder-unitile .tcposition {
    color: #black;
    font-size: 16px;
}

*/