.team-member-post-link-image {
    display: block;
    width: 180px;
    height: 270px;
    background-color: #efecec;
    position: relative;
    text-align: center;
    border: 1px solid #076daf;
}

.team-member-post-link-image-2 {
    display: block;
    background-color: #efecec;
    position: relative;
    text-align: center;
    width: 140px;
    height: 120px;
    border: 1px solid #076daf;
    background-color: #fff;
}

.team-member-post-link-title {
    display: block;
    color: #fff;
    font-size: 25px;
    position: absolute;
    bottom: 0;
    min-height: 65px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    background-color: rgba(0, 27, 61, 0.7);
    font-family: 'helvetica_narrow_ceregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    vertical-align: middle;
}


/*

.team-card-holder-unitile .team-card-item {
    position: relative;
    float: left;
    width: 25%;
    border: 1px solid white;
    height: 375px;
    background-size: cover;
    background-position: center top;
}

.team-card-holder-unitile .team-card-item-description {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: white;
    max-width: 200px;
    left: 0;
    max-height: 375px;
    padding: 12px;
}

.team-card-holder-unitile .tctitle {
    color: #ef3943;
    font-size: 15px;
    text-transform: uppercase;
}

.team-card-holder-unitile .tcposition {
    color: #black;
    font-size: 16px;
}

*/